body {
    margin: 0;
    padding: 0;
}

:root {
    --color_main_1: #1b7fd0;
    --color_main_2: #013056;
    --color_h1: #1b7fd0;
    --color_h2: #1b7fd0;
    --color_h3: #000000;
    --color_h4: #1b7fd0;
    --color_p_text: #000000;

    --color_btn_read_more: #075da2;
    --color_btn_read_more_hover: #caddea;

    --color_btn_send_message: #1b7fd0;
    --color_btn_send_message_hover: #caddea;

    --color_btn_order_now: #dd0000;
    --color_btn_order_now_hover: #a40000;
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(../fonts/Roboto-Thin.ttf);
}

h1{
    font-family: Roboto-Bold;
    font-size: 32px;
    color: var(--color_h1);
    font-weight: bold;
    text-transform: uppercase;
}

h2{
    font-family: Roboto-Bold;
    font-size: 28px;
    color: var(--color_h2);
    font-weight: bold;
    text-transform: uppercase;
}

h3{
    font-family: Roboto-Medium;
    font-size: 22px;
    color: var(--color_h3);
    text-transform: uppercase;
}

h4{
    font-family: Roboto-Medium;
    font-size: 18px;
    color: var(--color_h4);
    text-transform: uppercase;
}

p.text {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--color_p_text);
}

/* ------------------ HEADER ----------------------- */

.bg_main_2 {
    background-color: var(--color_main_2);
    background-image: url(../images/Bg1.svg);
    height: 57px;
}

header span, header a {
    font-size: 20px;
    color: #caddea;
    font-weight: 250;
    font-family: "Roboto-Thin";
    line-height: 57px;
}

header a {
    font-family: "Roboto-Regular";
}

header span:first-child {
    padding-right: 15px;
}

header a {
    color: #caddea;
    text-decoration: none;
}

header a img{
    height: 25px;
    vertical-align: middle;
}

.login {
    display: flex;
    justify-content: flex-end;
}

.login a {
    display: inline-block;
    text-transform: uppercase;
    padding: 0 20px;
}

header .bg_main_1 {
    background-color: var(--color_main_1);
    height: 40px;
}

.bg_main_1 {
    color: #caddea;
    text-transform: uppercase;
}

.bg_main_1 .col a{
    text-align: center;
    font-family: Roboto-Regular;
    font-size: 20px;
    height: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bg_main_1 a:hover {
    background-color: #caddea;
    color: var(--color_main_1);
}

.bg-header {
    padding: 0;
    background-image: url(../images/bg-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 585px;
    overflow: hidden;
    box-shadow: inset 0 5px 5px -5px #333;
}

.banner-text {
    padding: 30px 0;
}

.h1-div {
    background-color: #caddea;
    box-shadow: 0 1px 5px 1px #b3c8d0;
    text-align: center;
}

.h1-div h1 {
    padding: 15px;
}

.header-list h3 {
    padding: 0 40px;
    margin-bottom: 10px;
    font-weight: 100;
}

.header-list ul {
    margin-top: 0;
    list-style: none;
}

.header-list ul li::before {
    content: "\2022";
    color: #1b7fd0;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.header-list li {
    margin-bottom: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color_p_text);
}

.header-btn {
    padding: 0 50px;
}

.header-btn button {
    width: 230px;
    height: 35px;
    font-family: Roboto-Regular;
    color: #1b7fd0;
    border: 1px solid #1b7fd0;
    font-size: 18px;
    background: none;
    margin: 7px;
}

.header-btn button:hover {
    background-color: #1b7fd0;
    color: #caddea;
}